<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <div>
            <img class="logo" src="/images/logo.jpg" alt="Logo">
        </div>
        <ul class="headerList">
            <li> <a href="/directory
                  
                
                
                    
                
                
                
                
                
                
                
                
                "><p>Regresar</p></a></li>
            <li> <a href="/directory/logout"><p>Cerrar Sesion</p></a></li>
           </ul>
    </header>

    <div class="container-xxl">
    

    
    <ul class="basic-ul">
        <% for(var i = 0; i < content[0].length; i++) { %>
            <li >
                <span class="tag"><%= content[0][i] %> : <%= content[1][i] %> - <%= content[2][i] %> </span>
                <form class="basic-form first" action="/directory/users/delete?id=<%= content[0][i] %>" enctype="x-www-form-urlencoded" method="POST" onSubmit="return confirm('Este valor se borrara DIFNITIVAMENTE, esta seguro de continuar?');">
                    <input class="custom-btn btn-7" type="submit" value="Borrar">
                    <input class="basic-input" type="text" name="name" id="name" value="<%= content[0][i] %>">       
                </form>
                <form class="basic-form second" action="/directory/users/edit?id=<%= content[0][i] %>" enctype="x-www-form-urlencoded" method="POST" onSubmit="return confirm('Este valor se borrara DIFNITIVAMENTE, esta seguro de continuar?');">
                    <input class="basic-input" type="text" name="id" id="id" value="<%= content[0][i] %>">
                    <span>Nombre:</span>
                    <input class="custom-btn btn-7" minlength="4" type="text" name="name" id="name" value="">   
                    <span>Contraseña</span>           
                    <input class="custom-btn btn-7" minlength="4" type="password" name="pass" id="pass" value=""> 
                    <span>Departamento</span>
                    <select class="custom-btn btn-7" name="depa" id="depa">

                        <% for(var j = 0; j < departamentos.length; j++) { %>
                            <option value="<%= j + 1 %>"><%= departamentos[j].name %></option>

                            <% } %>

                    </select>   
                    <input class="custom-btn btn-7" type="submit" value="Actualizar" >
                </form>
                
                

                
            </li>
            
          <% } %>

          
    </ul>
    </div>

    <div class="container">
        <form action="/directory/users/create" method="POST">
            <p>Crear Usuario</p>
    
            <span>Usuario: &nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <input required minlength="4" type="text" name="user" id="user"><br>
            <span>Contraseña:</span>
            <input required minlength="4" type="password" name="pass" id="pass"><br>
            <span>Confirmar Contraseña</span>
            <input required minlength="4" type="password" name="passc" id="passc"><br>
            <span>Departamento</span>
            <select requried  name="dep" id="dep">

                <% for(var j = 0; j < departamentos.length; j++) { %>
                    <option value="<%= j + 1 %>"><%= departamentos[j].name %></option>

                    <% } %>

            </select> 
            <br>
            <input required type="submit" value="Crear">
        </form>
    </div>
    
    

</body>
</html>